<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Recorder</title>
    <link rel="stylesheet" href="styles.css" type="text/css" media="screen" charset="utf-8">
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
</head>
<body>
    <div class="left">
        <p> Recorded from webcam</p>
        <video autoplay id="sourcevid" class="size"></video>
    </div>

    <div class="right">
        <canvas id="output" class="size"></canvas>
    </div>

    <div class="left">
        <p> Received from server</p>
        <img id="displayer" class="size"/>
    </div>

    <script type="text/javascript" charset="utf-8">

        var token = CryptoJS.MD5(Date.now().toString()).toString();
        var socket = new WebSocket("ws://192.168.0.100:8080/");
        var back = document.getElementById('output');
        var backcontext = back.getContext('2d');
        var video = document.getElementsByTagName('video')[0];
        
        var send=function(message)
        {
            if(socket.readyState===1)
            {
                socket.send(message);
            }
            else
            {
                console.log("Error: "+socket.readyState);
            }
        }

        socket.onopen = function()
        {
            console.log("Sender connected"); 
            send(JSON.stringify({command:"INIT", token: token }))
            console.log("Sender token has been sent"); 
        }

        var failure = function(error){ console.log(error); }

        var success = function(stream)
        {
            video.src = window.webkitURL.createObjectURL(stream);
        }

        var draw = function()
        {
            backcontext.drawImage(video,0,0, back.width, back.height);
            var stringData= back.toDataURL();
            var string_to_send = JSON.stringify({command:"DATA", data: stringData });
            send(string_to_send);
            setTimeout(draw, 50);
        }

        navigator.webkitGetUserMedia({video:true, audio:false}, success, failure);
        draw();

        var acceptor_socket = new WebSocket("ws://192.168.0.100:8008/");
        var image = document.getElementById('displayer');
        acceptor_socket.onopen = function()
        { 
            console.log("connected");
        }
        acceptor_socket.onmessage = function(data)
        {
            image.src=data.data;
        }


</script>
</body>
</html>
